@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);

#playerStyling th {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}

#playerStyling td {
    font-family: 'Cinzel', serif;
}

/*#playerStyling ul {
    display: inline-block;
}*/

#playerStyling hr {

}

/* Flaired edges, by Tomas Theunissen */

#playerStyling hr {
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    display: block;
    width: 100%
}

.inactive {

  -webkit-filter: opacity(75%);
  filter: opacity(75%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

div {
  border:1px;
  border-style:solid;
}


/* splash page ============================= */

section {

}

.splash {
    width: 90%;
    margin: 10em auto;

}

.splash__title {
    font-size: 5em;
    font-family: fantasy;
    text-align: center;
}

.splash__start {
    background: #d4d4d4;
    border-radius: 4px;
    border: 1px solid #727272;
    color: #727272;
    cursor: pointer;
    padding: .5em 3.6em;
    font-size: 1.8rem;
    display: table;
    margin: 1em auto;
    text-decoration: none;
    transition: 1s;
}

.splash__start:hover {
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

/* ==================================== layout */


.window {
 display:flex;
 flex-grow:10;
}

/* ==================================== player */

.players {
  flex-grow:2;
  display:flex;
  flex-direction: column;
}

.player {
  height:25vh;
}

.player__race, .player__class{
    width: 10vw;

}

.dice-rolled {
    height: 5vh;
    border: 1px solid #000;
}


/* ===================================== board */

.board {
  flex-grow:6
  display:flex;
  flex-flow: wrap;
  justify-content:center;
}

.row {
  display:flex;
}

.tile {
  position: relative;
  width:20vh;
  height:20vh;
  z-index: 1;
}

.tile__image {
position: absolute;
  width:20vh;
  height:20vh;
  z-index: 2;
}

.backside{
    position: absolute;
    height: 20vh;
    width: 20vh;
    z-index: 10;
}

.backside-off{
    display:none;
}

/* ====================================== game */

.game {
  flex-grow:2

}

/* ==================================== button */

.main__callToAction {
    background: #d4d4d4;
    border-radius: 4px;
    border: 1px solid #727272;
    color: #727272;
    cursor: pointer;
    padding: .5em 3.6em;
    font-size: 1.8rem;
    display: table;
    margin: 1em auto;
    text-decoration: none;
    transition: 1s;

}

.main__callToAction:hover {
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-warning {
  color: #000;
  background-color: red;
}

/* feature ========================== rotate */

.rotate1{
  transform: rotate(90deg);
}

.rotate2{
  transform: rotate(180deg);
}

.rotate3{
  transform: rotate(270deg);
}

.rotate4{
  transform: rotate(0deg);
}

.dice-rolled {
  max-height: 25px;
  max-width: 25px;
}

.player-marker{
    border-radius: 50%;
    position: relative;
    top: 5vh;
    left: 2vh;
    z-index: 5;
}

.playerdefault{
    display: none;
}


.red{
    background-color: rgb(113, 15, 15);
    color:white;
}
.yellow{
background-color:rgb(241, 241, 0);
}
.blue{
background-color:rgb(41, 41, 76);
color:white;
}

.blue button{
color: black;
}

.red button{
color: black;
}

.green{
background-color:green;
}


.backside{
    position: absolute;
      width:20vh;
      height:20vh;
    z-index: 10;
}


.player-btn{
    float: right;
}

.die {
    width:3.8vh;
    height:3.9vh;
}

.not {
    width:1%;
    height:3px;

}

.dice {
    display:flex;
    justify-content:center;

}

.treasure {
  width:3.8vh;
  height:3.9vh;
  bottom:10px;
  right:10px;
  position:absolute;
}
