html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}


div {
  border:1px;
  border-style:solid;
}

.window {
 display:flex;
 flex-grow:10;
}

.players {
  flex-grow:2;
  display:flex
  flex-direction: column;
}

.player img{
  height:15vh;
  width:15vh;
}
.game {
  flex-grow:2

}

.board {
  flex-grow:6
  display:flex;
  flex-flow: wrap;
  justify-content:center;
}

.player {
  height:25vh;

}

.tile {
  position: relative;
  width:20vh;
  height:20vh;
  z-index: 1;
}

.tile__image {
position: absolute;
  z-index: 2;
  width:20vh;
  height:20vh;
}

.row {
  display:flex;
}

.rotate1{
  transform: rotate(90deg);
}

.rotate2{
  transform: rotate(180deg);
}

.rotate3{
  transform: rotate(270deg);
}

.rotate4{
  transform: rotate(0deg);
}

.dice-rolled {
  max-height: 25px;
  max-width: 25px;
  border: 1px solid black; 
}



/*.player1{
    border-radius: 50%;
}

.player2{
    border-radius: 50%;
}

.player3{
    border-radius: 50%;
    position: relative;
    top: 5vh;
    left: 5vh;
    z-index: 5;
}*/

.player-marker{
    border-radius: 50%;
    position: relative;
    top: 5vh;
    left: 2vh;
    z-index: 5;
}

.playerdefault{
    display: none;
}


.red{
    background-color: rgb(113, 15, 15);
    color:white;
}
.yellow{
background-color:rgb(203, 198, 47);
}
.blue{
background-color:rgb(41, 41, 76);
color:white;
}

.blue button{
color: black;
}

.red button{
color: black;
}

.green{
background-color:green;
}

.backside{
    position: absolute;
      z-index: 2;
      width:20vh;
      height:20vh;
    z-index: 10;
}

.backside-off{
    display:none;
}

.player-btn{
    float: right;
}


/*.blue {
    position: absolute;
    z-index: 5;
    top: 20;
    left: 20;
}*/
