<div class="board" ng-controller="TilesCtrl">
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 0 track by $index" place place-player rotate-tile bg-img="img/img{{ tile.name }}.jpg" dice="{{tile.diceValues.length}}">
      <img class="{{ ($index!==0 && $index!==4) ? 'backside':'backside-off' }}" reveal-tile src="img/img0.jpg">
      <div class="dice" ui-view="dice{{tile.diceValues.length}}"></div>
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 5 track by $index" place-player rotate-tile bg-img="img/img{{ tile.name }}.jpg" dice="{{tile.diceValues.length}}">
      <img class="backside" reveal-tile src="img/img0.jpg">
      <div class="dice" ui-view="dice{{tile.diceValues.length}}"></div>
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 10 track by $index" place-player rotate-tile bg-img="img/img{{ tile.name }}.jpg" dice="{{tile.diceValues.length}}">
      <img class="{{ $index!==2 ? 'backside':'backside-off' }}" reveal-tile src="img/img0.jpg">
      <div class="dice" ui-view="dice{{tile.diceValues.length}}"></div>
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 15 track by $index" place-player rotate-tile bg-img="img/img{{ tile.name }}.jpg" dice="{{tile.diceValues.length}}">
      <img class="backside" reveal-tile src="img/img0.jpg">
      <div class="dice" ui-view="dice{{tile.diceValues.length}}"></div>
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 20 track by $index" place-player rotate-tile bg-img="img/img{{ tile.name }}.jpg" dice="{{tile.diceValues.length}}">
      <img class="{{ ($index!==0 && $index!==4) ? 'backside':'backside-off' }}" reveal-tile src="img/img0.jpg">
      <div class="dice" ui-view="dice{{tile.diceValues.length}}"></div>
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
</div>
