<!-- <table>
    <tr>
        <td ng-repeat="item in tiles | limitTo: 5"><img ng-src="{{ item.image }}"></td>
    </tr>
    <tr>
        <td ng-repeat="item in tiles | limitTo: 5: 5"><img ng-src="{{ item.image }}"></td>
    </tr>
</table> -->

<div class="board" ng-controller="TilesCtrl">
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 0"  >
      <img class="tile__image" place-player rotate-tile ng-src="img/img{{ tile.name }}.jpg" alt="" />
      <img class="backside" reveal-tile src="img/img0.jpg">
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 5"  >
      <img class="tile__image" place-player rotate-tile ng-src="img/img{{ tile.name }}.jpg" alt="" />
      <img class="backside" reveal-tile src="img/img0.jpg">
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 10" >
      <img class="tile__image" place-player rotate-tile ng-src="img/img{{ tile.name }}.jpg" alt="" />
      <img class="backside" reveal-tile src="img/img0.jpg">
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 15"  >
      <img class="tile__image" place-player rotate-tile ng-src="img/img{{ tile.name }}.jpg" alt="" />
      <img class="backside" reveal-tile src="img/img0.jpg">
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
  <div class="row">
    <div class="tile" ng-repeat="tile in tiles | limitTo: 5: 20" place >
      <img class="tile__image" place-player rotate-tile ng-src="img/img{{ tile.name }}.jpg" alt="" />
      <img class="backside" reveal-tile src="img/img0.jpg">
      <img class="hide playerdefault-blue player-marker" src="img/players/BluePlayer.png">
      <img class="hide playerdefault-green player-marker" src="img/players/GreenPlayer.png">
      <img class="hide playerdefault-red player-marker" src="img/players/RedPlayer.png">
      <img class="hide playerdefault-yellow player-marker" src="img/players/YellowPlayer.png">
    </div>
  </div>
</div>
