<article class="splash" >
<h1 class="splash__title">Welcome to Dice Crawl!</h1>

<!-- <form ng-submit="TilesFactory.addTile()" class="form-inline" role="form"> -->
    <!-- <div class="form-group">
        <input type="text" ng-model="TilesFactory.tileType" ng-value="1" class="form-control">
        <input type="text" ng-model="TilesFactory.tileDiceNumber" ng-value="1" class="form-control">
        <input type="text" ng-model="TilesFactory.tileDiceOne" ng-value="6" class="form-control">
        <input type="text" ng-model="TilesFactory.tileImage" ng-value="img/img1.jpg" class="form-control">
    </div> -->
    <a class="splash__start" ui-sref="game">Start Game</a>
<!-- </form> -->
</article>
