<!-- <div>
  <div ng-repeat="player in players">
    {{ player.playerColor}}
  </div>

</div> -->

<div class="players" ng-controller="PlayersCtrl" ng-init="initPlayers()">
    <div class="player {{player.playerColor}}" ng-repeat="player in players">
     <img class="tile" ng-src="img/races/{{player.abilities.playerRace.raceName}}.jpg" alt="" />
     <img class="tile" ng-src="img/classes/{{player.abilities.playerClass.className}}.jpg" alt="" />
    <br>
      <img ng-repeat="die in player.roll track by $index" class="dice-rolled" ng-src="img/dice/{{player.playerColor}}{{player.roll[$index]}}.png" alt=""/>
      <button type="submit" ng-click="player.diceRoll()" class="rolled">Roll Dice</button><br>
      <button type="button" name="button" class="btn" toggle-place-player="{{ player.playerColor }}">Place {{player.playerColor}} Player</button>
    </div>
</div>
